{% extends 'base.html'%} {% block content %}

<div
  class="container shadow pt-4 pb-4 ms-5"
  style="margin-left: 6rem !important"
>
  <form action="/signup" method="POST">
    {% if error%}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    {% csrf_token %}
    <div class="row">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="col-md-4">
          <h4 class="text-muted">Create An Account</h4>
          <br />

          <div class="d-flex justify-content-between">
            <div class="m-1 mr-2">
              <label class="text-muted"><small>First Name:</small></label>
              <input
                class="form-control"
                name="first_name"
                type="text"
                placeholder="First Name"
                value="{{values.first_name}}"
              />
            </div>

            <div class="m-1">
              <label class="text-muted"><small>Last Name:</small></label>
              <input
                class="form-control"
                name="last_name"
                type="text"
                placeholder="Last Name"
                value="{{values.last_name}}"
              />
            </div>
            <br />
          </div>

          <div class="ml-1">
            <label class="text-muted"><small>Phone Number:</small></label>
            <input
              class="form-control"
              name="phone"
              type="text"
              value="{{values.phone}}"
              placeholder="Phone Number"
            />
          </div>
          <div class="m-1">
            <label class="text-muted"><small>Email:</small></label>
            <input
              class="form-control"
              name="email"
              type="email"
              value="{{values.email}}"
              placeholder="Email"
            />
          </div>
          <div class="m-1">
            <label class="text-muted"><small>Password :</small></label>

            <input
              class="form-control"
              name="password"
              type="password"
              placeholder="Password"
            />
          </div>
          <div class="mt-3">
            <button
              type="submit"
              value="Signup"
              class="btn btn-outline-success m-1"
            >
              Signup
            </button>
            <a href=""
              ><button type="button" class="btn btn-outline-danger m-1">
                Cancel
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
